[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "django-girder-utils"
description = "Django utilities for data management applications."
readme = "README.md"
requires-python = ">=3.8"
license = { text = "Apache 2.0" }
maintainers = [{ name = "Kitware, Inc.", email = "kitware@kitware.com" }]
keywords = [
  "django",
  "girder",
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Web Environment",
  'Framework :: Django :: 4',
  "Framework :: Django :: 4.2",
  "Framework :: Django :: 5.0",
  "Framework :: Django",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python",
]
dependencies = [
  "django>=4.2",
]
dynamic = ["version"]

[project.urls]
Repository = "https://github.com/girder/django-girder-utils"
"Bug Reports" = "https://github.com/girder/django-girder-utils/issues"

[project.optional-dependencies]
allauth = [
  "django-allauth",
]
rest_framework = [
  "djangorestframework",
]
boto3_storage = [
  "django-storages[boto3]",
]
minio_storage = [
  "django-minio-storage",
]

[tool.hatch.build]
only-include = [
  "girder_utils",
]

[tool.hatch.version]
source = "vcs"

[tool.black]
line-length = 100
skip-string-normalization = true
target-version = ["py38"]
exclude='\.eggs|\.git|\.mypy_cache|\.tox|\.venv|_build|buck-out|build|dist'

[tool.isort]
profile = "black"
line_length = 100
# Sort by name, don't cluster "from" vs "import"
force_sort_within_sections = true
# Combines "as" imports on the same line
combine_as_imports = true

[tool.mypy]
mypy_path = "$MYPY_CONFIG_FILE_DIR/stubs"
show_error_codes = true
strict = true
